.health_wrapper {
  background-color: rgba(117, 117, 117, 0.3);
  height: 15px;
  border: 3px solid #ffffff;
  position: absolute;
  top: 1em;
  left: 1em;
}

.health {
  background-color: #7aa2f7;
  height: 15px;
}
